.icon-small {
  width: 16px;
  height: 16px;
}

.icon-color-parent {
  fill: currentColor;
}

.icon-inline {
  display: inline-block;
  vertical-align: text-bottom;

  &.icon-top {
    vertical-align: top;
  }
}

.icon-circle {
  border-radius: 50%;
}
