
.badge {
  display: inline-block;
  padding: 0 2px;
  border-radius: 2px;
  color: #fff;
  transition: background-color ease-out 0.2s;
}

.badge-variant(@txtColor, @bgColor) {
  &:extend(.badge);

  background-color: @bgColor;
  color: @txtColor;
}

.badge--positive {
  .badge-variant(#fff, @color-green-aim);
}

.badge--negative {
  .badge-variant(#fff, @color-red-aim);
}

.badge--dark {
  .badge-variant(#fff, #14042a);
}

.badge--light {
  .badge-variant(#000, #fff);

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.badge--yellow {
  .badge-variant(#000, #ffec3d);
}

.badge--brand {
  .badge-variant(#fff, @color-brand-primary);
}

.badge-count {
  background-color: @color-red-aim;
  height: 22px;
  border-radius: 4px;
  text-align: center;
  line-height: 1;
  padding: 2px 4px;
  border: 1px solid #380a77;
}
