/* stylelint-disable */

// Reset
button {
  cursor: pointer;
  vertical-align: bottom;
  line-height: 1;
  font-size: @spacing-base;

  &:focus,
  &:hover {
    outline: 0;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;

    &:focus,
    &:hover {
      cursor: not-allowed;
    }
  }
}

.btn {
  .noselect;
  display: inline-block;
  position: relative;
  height: 44px;
  text-decoration: none;
  overflow: hidden;

  &.hover,
  &.active {
    text-decoration: none;
  }
}

// Mixin for style variant
.btn-variant-wireframe (@color) {
  &:extend(.btn);

  border: 1px solid @color;
  background-color: var(--color-content-bg);
  padding: 0 @spacing-base;
  border-radius: 4px;
  color: @color;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  overflow: hidden;

  // TODO: wondering if we should create a btn-with-icon class / variant
  .icon-svg {
    fill: @color;
  }

  &:focus,
  &:hover {
    color: @color;
  }

  @media @hover-support {
    &:focus,
    &:hover {
      color: @color;
      box-shadow: inset 0 0 0 1px @color;
      border-color: @color;
    }
  }

  &.active:hover,
  &.active:focus,
  &.active {
    cursor: default;
    color: #fff;
    background-color: @color;
    box-shadow: none;

    // TODO: wondering if we should create a btn-with-icon class / variant
    .icon-svg {
      fill: #fff;
    }
  }

  &.disabled {
    color: #777;
    background-color: #fff;
    border-color: #bbb;

    .icon-svg {
      fill: #777;
    }

    &:focus,
    &:hover {
      border-color: #bbb;
      box-shadow: none;
    }
  }

  .loader-bar {
    background-color: @color;
  }
}

// Mixin for style variant
.btn-variant-plain (@color) {
  &:extend(.btn);

  border: 1px solid @color;
  background-color: @color;
  padding: 0 @spacing-base;
  border-radius: 4px;
  border: 1px solid @color;
  color: #000;
  text-transform: uppercase;
  transition-property: background-color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: linear;

  &:focus,
  &:hover {
    color: #000;
    background-color: @color;
    border-color: @color;
  }

  &.disabled {
    color: #f7f7f7;
    background-color: var(--color-btn-disabled-bg);
    border-color: var(--color-btn-disabled-bg);

    &:focus,
    &:hover {
      border-color: var(--color-btn-disabled-bg);
    }
  }

  &.active {
    color: #000;
    background-color: @color;
  }

  .loader-bar {
    background-color: #000;
  }

  .icon-svg {
    fill: #000;
  }
}

.btn--neutral {
  .btn-variant-wireframe(var(--color-gray-aim));
}

.btn--green {
  .btn-variant-wireframe(var(--color-green-aim));
}

.btn--blue {
  .btn-variant-wireframe(var(--color-blue-aim));
}

.btn--red {
  .btn-variant-wireframe(var(--color-red-aim));
}

.btn--plain-blue {
  .btn-variant-plain(@color-blue-vivid);
}

.btn--plain-green {
  .btn-variant-plain(@color-green-vivid);
}

.btn--plain-red {
  .btn-variant-plain(@color-red-vivid);
}

.btn--plain-neutral {
  .btn-variant-plain(@color-gray-lightest);
}

.btn--link {
  background: transparent;
  border: 0;
  color: var(--color-blue-aim);
  height: auto;
  line-height: 1.15;
  padding: 0;
  vertical-align: baseline;
  position: relative;

  .icon-svg {
    fill: @color-blue-aim;
    fill: var(--color-blue-aim);
  }

  &:focus,
  &:hover {
    color: darken(@color-blue-vivid, 5%);
    text-decoration: underline;
  }

  .loader-bar {
    background-color: var(--color-blue-aim);
  }

  &.disabled,
  &[disabled] {
    color: @color-gray-aim;
    text-decoration: none;
  }
}

// TODO: might rething this
.btn--link.link {
  padding: 0;
  height: auto;
  text-decoration: underline;
  vertical-align: baseline;
}

.btn-theader {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  padding: 8px 0;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;

  &:focus,
  &:hover {
    background-color: #f5f5f5;
  }
}

.btn-menu {
  &:extend(.btn--neutral all);
  border: 0;
  color: @color-blue-aim;

  &.active:hover,
  &.active:focus,
  &.active,
  &:hover,
  &:focus {
    border: 0;
    box-shadow: none;
    background-color: #f0f0f0;
    color: @color-blue-aim;

    .icon-svg {
      fill: @color-gray-darker;
    }
  }
}

.btn--invisible {
  &:extend(.btn);

  border: 0;
  background-color: transparent;
  padding: 0;
  color: var(--color-content-txt);
}

a.btn {
  line-height: 2.7; // Needed when the class is set on a link to align text
}

.btn--sticked-horizontal {
  white-space: nowrap;

  > .btn--sticked:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn--sticked:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}

.btn--sticked-vertical {
  > .btn--sticked {
    display: block;
  }

  > .btn--sticked:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .btn--sticked:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
  }
}

.btn-round,
.btn-square {
  width: 44px;
}

.btn-round {
  border-radius: 50%;
}

.btn--tab-section {
  background: transparent;
  border: 0;
  color: var(--color-content-txt);
  display: inline-block;
  height: 44px;
  padding: 14px 16px 14px 16px;
  position: relative;
  text-decoration: none;
  vertical-align: baseline;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: @color-gray-light;
    border-radius: 2px;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
    border: 0;
  }
}

.btn--tab-section.active {
  &:before {
    background-color: @color-blue-aim;
  }
}

.btn--sticked-header {
  .noselect;
  &:extend(.btn);

  background-color: @color-gray-lighter;
  color: @color-gray-darker;
  border-radius: 4px;
  border: 1px solid @color-gray-darker;
}

.btn--with-icon {
  display: flex;
  align-items: center;
}

.btn-loading {
  color: transparent !important;
}
