.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  background-color: var(--color-content-bg);
  color: var(--color-content-txt);
  overscroll-behavior-y: contain;

  @media @md-screen {
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    border-radius: @border-radius-base;
    padding: @spacing-base;
  }

  @media @lg-screen {
    width: 66%;
    left: 17%;
  }
}

.modal--small {
  @height: 226px;
  @width: 256px;

  .shadow-big;
  .border-1;

  position: fixed;
  top: calc(45% - @height / 2);
  left: calc(50% - @width / 2);
  width: @width;
  background-color: var(--color-content-bg);
  z-index: 2;
  border-radius: @border-radius-base;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  height: calc(100% - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f5f5f5;
  color: #222;
}

.modal__btn {
  height: 44px;
  text-align: center;
  flex: 1;
}
