.panel__header {
  height: 60px;
}

// panel-group is there to wrap a serie of containers into a border
.panel-group {
  .border-rounded;

  border: 1px solid #e3e7e8;
  border: 1px solid var(--color-line-separator);
  overflow: hidden;
}

.md-panel-group {
  border-bottom: 1px solid #e3e7e8;
  border-bottom: 1px solid var(--color-line-separator);
  overflow: hidden;

  @media @md-screen {
    .border-rounded;

    border: 1px solid #e3e7e8;
    border: 1px solid var(--color-line-separator);
  }
}

.lg-panel-group {
  border: 1px solid #e3e7e8;
  border: 1px solid var(--color-line-separator);
  overflow: hidden;

  @media @lg-screen {
    .border-rounded;
  }
}
