.subnav-menu {
  background-color: @header-bg-color;
  bottom: 0;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  height: @header-height;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  z-index: 3;

  // TODO: refactor the buttons. Maybe create a navbar button component or something
  .btn {
    .flex-col-center;

    border: 0;
    height: @header-height;
    color: #fff;
    padding: 14px 16px 4px 16px;
    line-height: 1.7;

    .icon-svg {
      fill: #fff;
    }

    &.active {
      background-color: darken(@header-bg-color, 10%);
      color: #fff;

      .icon-svg {
        fill: #fff;
      }
    }

    &:focus,
    &:hover {
      color: #fff;
      border-color: darken(@header-bg-color, 2%);
      box-shadow: none;
    }
  }

  @media @lg-screen {
    box-shadow: none;
    overflow: hidden;
    top: 0;
    bottom: auto;
    padding: 0;
    left: auto;
    right: 16px;
    background-color: transparent;

    .btn {
      min-width: 8em;
    }
  }
}
