.subnav-menu {
  @subnav-color-text: #fff;
  @subnav-color-text-active: #fff;
  @subnav-color-bg: @header-bg-color;

  background-color: @subnav-color-bg;
  bottom: 0;
  height: @header-height;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  z-index: 3;

  // TODO: refactor the buttons. Maybe create a navbar button component or something
  .btn {
    .flex-col-center;

    border: 0;
    height: @header-height;
    color: @subnav-color-text;
    padding: 14px 16px 4px 16px;
    line-height: 1.7;

    .icon-svg {
      fill: @subnav-color-text;
    }

    &.active {
      background-color: darken(@subnav-color-bg, 10%);
      color: @subnav-color-text-active;

      .icon-svg {
        fill: @subnav-color-text-active;
      }
    }

    &:focus,
    &:hover {
      color: @subnav-color-text;
      border-color: darken(@subnav-color-bg, 2%);
      box-shadow: none;
    }
  }

  @media @md-screen {
    box-shadow: none;
    overflow: hidden;
    top: 0;
    bottom: auto;
    padding: 0;
    left: auto;
    right: 0;
    background-color: transparent;

    .btn {
      min-width: 8em;
    }
  }
}
