@table-odd-color: #f9fafb;
@table-even-color: #fff;
@table-row-highlighted: darken(@color-blue-aim, 10%);

.table,
.table-fixed,
.table-narrow {
  width: 100%;
  border-collapse: collapse;

  th {
    text-transform: uppercase;
    font-size: 0.9em;
    white-space: nowrap; // table heading text should not wrap
  }

  > tbody > {
    tr > td {
      border-top: 1px solid #ededed;
    }

    tr:nth-child(odd) {
      background-color: @table-odd-color;
    }

    tr:nth-child(even) {
      background-color: @table-even-color;
    }

    tr.table__row--highlighted {
      background-color: @table-row-highlighted;
      color: #fff;
    }
  }
}

.table,
.table-fixed {
  th {
    padding: 8px;
  }

  > tbody > {
    tr > td {
      padding: 8px;
    }
  }

  @media @md-screen {
    th {
      padding: 8px 12px;
    }

    > tbody > {
      tr > td {
        padding: 8px 12px;
      }
    }
  }
}

.table-narrow {
  th {
    padding: 8px 8px;
  }

  > tbody > {
    tr > td {
      padding: 4px 8px;
    }
  }
}

.table-fixed {
  table-layout: fixed;
}

.tbody-space-top-1::before {
  content: '';
  display: table-row;
  height: 16px;
}

// Sticky table header, must be applied on <th/>
.t__head {
  background-color: @color-gray-lighter;
  font-size: 0.9em;
  font-weight: bold;
  min-height: 32px;
  position: -webkit-sticky;
  position: sticky;
  text-transform: uppercase;
  top: 0;
  white-space: nowrap;
  z-index: 1; // prevent content in the table to go above it on scroll.
}

.table--padded-1 {
  td:first-child,
  th:first-child {
    padding-left: @spacing-base;
  }

  td:last-child,
  th:last-child {
    padding-right: @spacing-base;
  }
}
