// FONT SIZE
@font-sizes: 90, 100, 110, 120, 150, 200;

each(@font-sizes, .(@size) {
  .size-@{size} {
    font-size: @size * 0.01 * 1em;
  }
});

// COLOR
.txt-default {
  color: var(--color-txt-default);
}

.txt-blue {
  color: var(--color-blue-aim);
}

.txt-gray {
  color: var(--color-gray-aim);
}

.txt-black {
  color: #000;
}

.txt-white {
  color: #fff;
}

.txt-good {
  color: var(--color-green-aim);
}

.txt-bad {
  color: var(--color-red-aim);
}

.txt-warning {
  color: var(--color-orange-aim);
}

.txt-muted {
  color: var(--color-txt-muted);
}

// ALIGNMENT
.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

// LINE HEIGHT
@line-heights: 120, 130, 140, 150;

each(@line-heights, .(@height) {
  .line-height-@{height} {
    line-height: @height * 0.01;
  }
});

// HEADINGS
.h1,
.h2,
.h3,
.h4 {
  letter-spacing: 0.05em;
  font-weight: 500;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.17em;
}

.h4 {
  font-size: 1em;
}

.heading-section {
  letter-spacing: 1px;
  font-size: 1.1em;
  text-transform: uppercase;
  position: relative;
}

// STYLE and WEIGHT
.txt-italic {
  font-style: italic;
}

.txt-bold {
  font-weight: bold;
}

.txt-normal {
  font-weight: normal;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate--inline {
  &:extend(.truncate);

  display: inline-flex;
}

.txt-placeholder {
  color: var(--color-txt-placeholder);
}

.txt-line-through {
  text-decoration: line-through;
}

.txt-underline {
  text-decoration: underline;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-mono {
  font-family: @font-mono;
  font-size: 1em; // current mono font on mac is bigger; but need to check on other OS
}

.txt-capitalize {
  text-transform: capitalize;
}

.txt-wrap-break {
  word-wrap: break-word;
}

// trying to have max 13 words in a line
.reading-width {
  max-width: 32em;
}

.nowrap {
  white-space: nowrap;
}

.pre {
  white-space: pre;
}

.pre-wrap {
  white-space: pre-wrap;
}

.code {
  font-size: 13px;
}

.align-txt-top {
  vertical-align: top;
}

// For text that is used to indicate a currency or a unit like '%' '°C'
.txt-unit {
  font-size: 0.8em;
  color: var(--color-txt-muted);
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  max-width: 8ch;
}

.word-spacing-05 {
  word-spacing: @base-gap * 0.5;
}

.word-spacing-1 {
  word-spacing: @base-gap;
}
