.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate--inline {
  &:extend(.truncate);

  display: inline-block;
}

.txt-09 {
  font-size: 0.9em;
}

.txt-1 {
  font-size: 1em;
}

.txt-11 {
  font-size: 1.1em;
}

.txt-12 {
  font-size: 1.2em;
}

.txt-15 {
  font-size: 1.5em;
}

.txt-2 {
  font-size: 2em;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-blue {
  color: @color-blue-aim;
  color: var(--color-blue-aim);
}

.txt-gray {
  color: darken(@color-gray-aim, 10%);
}

.txt-black {
  color: #000;
}

.txt-white {
  color: #fff;
}

.txt-positive {
  color: @color-green-aim;
  color: var(--color-green-aim);
}

.txt-negative {
  color: @color-red-aim;
  color: var(--color-red-aim);
}

.txt-warning {
  color: @color-orange-aim;
}

.txt-italic {
  font-style: italic;
}

.txt-bold {
  font-weight: bold;
}

.txt-normal {
  font-weight: normal;
}

.txt-muted {
  opacity: 0.7;
}

.txt-line-through {
  text-decoration: line-through;
}

.txt-underline {
  text-decoration: underline;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-mono {
  font-family: @font-mono;
  font-size: 1.05em;
}

.txt-lh-1 {
  line-height: 1;
}

.txt-lh-12 {
  line-height: 1.2;
}

.txt-capitalize {
  text-transform: capitalize;
}

.h-header {
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 1.5em;
}

.txt-wrap-break {
  word-wrap: break-word;
}

.heading-section {
  letter-spacing: 1px;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: @spacing-base;
  position: relative;
}

.h-minor {
  text-transform: none;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.txt-read {
  line-height: 1.4;
}

.txt-content {
  color: @color-font-default;
  color: var(--color-content-txt);
}
