.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #fafafa;
}

.bg-gray-light {
  background-color: @color-gray-light;
}

.bg-gray-lighter {
  background-color: @color-gray-lighter;
}

.bg-content {
  background-color: var(--color-content-bg);
}

.bg-alternative {
  background-color: var(--color-bg-alternative);
}
