
.note,
.note-with-bg {
  border-left: 4px solid;
  padding: 1px @spacing-base;
}

.note-with-bg {
  background-color: rgba(0, 0, 0, 0.05);
}

.note-default {
  border-left-color: rgba(0, 0, 0, 0.2);
}

.note-red {
  border-left-color: @color-red-vivid;
  color: @color-red-aim;
}

.note-blue {
  border-left-color: @color-blue-vivid;
  color: @color-blue-aim;
}

.note-green {
  border-left-color: @color-green-aim;
  color: @color-green-aim;
}

.note-orange {
  border-left-color: @color-orange-aim;
  color: @color-orange-aim;
}
