.main-content {
  height: calc(100% - @header-height);
  width: 100vw;
  overflow-x: hidden;
}

.app-init-loader {
  text-align: center;
  height: 10em;
  margin: auto;
  padding: 4em;
  border-radius: 50%;
  width: 16em;
}

// COMMON
@import './Header/Header.less';
@import './MainSideMenu/MainSideMenu.less';

// PUBLIC

// PRIVATE
