// GRID
@grid-fluid-values: 5em, 6em, 8em, 12em, 14em, 16em, 20em, 24em, 32em;

.grid-fluid {
  display: grid;
  grid-gap: @spacing-base;
}

each(@grid-fluid-values, .(@gvalue) {
  .grid-fluid-colmin@{gvalue} {
    &:extend(.grid-fluid);
    grid-template-columns: repeat(auto-fit, minmax(@gvalue, 1fr));
  }
});

// grid that only activates in big screens
@r-grid-fluid-values: 20em, 28em, 24em, 32em;

each(@r-grid-fluid-values, .(@gvalue) {
  .r-grid-fluid-colmin@{gvalue} {
    display: grid;
    grid-gap: @spacing-base;

    @media @md-screen {
      grid-template-columns: repeat(auto-fit, minmax(@gvalue, 1fr));
    }
  }
});

// Used to not have spaces between panels on small screens
.r-grid-one-col {
  display: grid;
  grid-template-columns: 100%;

  @media @md-screen {
    grid-gap: @spacing-base;
  }
}

// FLEX
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-space-around {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media @md-screen {
  .md-flex-row {
    display: flex;
    flex-direction: row;
  }

  .md-flex-row-center {
    display: flex;
    align-items: center;
  }
}
