.main-header {
  overflow-y: hidden;
  position: relative;
  background-color: @color-header-bg;
  background-color: var(--color-header-bg);
  color: @color-font-default;
  color: var(--color-content-txt);
  height: @header-height;
  width: 100vw;
  z-index: 3; // side menu icon when small screen
  border-bottom: 1px solid darken(@color-header-bg, 5%);
  border-bottom: 1px solid var(--color-header-separator);

  .app-title {
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 0.1em;
    position: relative;
  }
}

.main-header__content {
  width: 100vw;
  padding: 0 16px 0 12px;
  display: flex;
  align-items: center;
  height: @header-height;

  @media @lg-screen {
    width: 460px;
  }
}
