.group {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none !important;
}

.unselectable {
  .noselect;

  cursor: default;
}

.clickable {
  &:extend(.unselectable);

  cursor: pointer;
}

// Responsive utilities
@media @md-screen {
  .md-hidden {
    display: none !important;
  }
}
