// COLORS
// "aim" = "web accessibility in mind". https://webaim.org/resources/contrastchecker/
// color-*-aim should ideally pass the "WCAG AA large text" threshold on a slighly gray bg.
@color-blue-aim: #009ddb;
@color-blue-vivid: #00b7ff;
@color-gray-aim: #65727b;
@color-gray-dark: #7e8995;
@color-gray-darker: #505d62;
@color-gray-light: #d4d8dc;
@color-gray-lighter: #d8dddf;
@color-gray-lightest: #f5f5f5;
@color-gray-mid: #aab1b9;
@color-green-aim: #1ca648;
@color-green-vivid: #16dd00;
@color-green: #0a0;
@color-orange-aim: #e66b00;
@color-red-aim: #d00;
@color-red-vivid: #ff020a;
@color-teal: #009daa;

// FONTS
@font-default: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" ,"Segoe UI Symbol";
@font-mono: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;

// FOOTER
@footer-height: 32px;

// SPACING
// Base size for defining padding / margin, etc
@spacing-base: 16px;

// BORDERS
@border-radius-base: 8px;

// MEDIA
@lg-screen: ~"screen and (min-width: 961px)";
@md-screen: ~"screen and (min-width: 721px)";
@hover-support: ~"not all and (hover: none)";
